body {
	text-align: center;
	margin: 0;
}

a {
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;
	color: #FFFFFF;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: #FFFFFF;
}

h1 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	padding-bottom: 10px;
}

h2 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 0 8px;
}

footer {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
}

footer a {
	color: #55CCBB;
	font-weight: 500;
	margin-left: -3px;
	margin-right: -3px;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.social {
	clear: both;
	padding-bottom: 5px;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}